.container {
    background-color: #ffffff;
    padding: 1rem;
}

.form-card {
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    padding: 2rem;
    padding-inline: 20px;
    border: 5px solid #335797fa;
    background-color: #335797fa;
}

.slds-text-heading_large {
    -webkit-text-fill-color: rgb(21, 19, 19);
    font-weight: bold;
}

.slds-text-heading_medium {
    -webkit-text-fill-color: #6f737a;
    font-weight: bold;
}

.slds-cards__header h2 {
    text-align: center;
    color: #6f737a;
    font-weight: bold;
}

.slds-card__footer {
    margin-top: 1rem;
    text-align: center;
}

.thank-you-image {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
}

/* Field layout and spacing */
.slds-grid {
    background-color: #f0f0f0;
    /* gap: 1rem; */
}
.slds-fields-grid{
    background-color: #ffffff;
    /* background-color: #f5dcdc; */
}

.slds-col {
    margin-bottom: 1rem;
}

.small-input,
.slds-combobox__input {
    padding: 0.3rem;
    font-size: 0.9rem;
}

/* Additional styles */
.slds-m-top_medium {
    padding-left: 1rem;
}